
@{
    Layout = "_Layout";
    ViewData["Title"] = "CreatePerson";
}

<h1>Create Person</h1>
<br>
<form asp-action="DisplayPerson" method="post">

    <table>
        <tbody>
            <tr>
                <td>
                    First Name:
                    <input type="text" name="FirstName">
                </td>
            </tr>
            <tr>
                <td>
                    Last Name:
                    <input type="text" name="LastName">
                </td>
            </tr>
            <tr>
                <td>
                    Age:
                    <input type="number" min="0" name="Age">
                </td>
            </tr>
            <tr>
                <td>
                    Email Address:
                    <input type="email" name="EmailAddress">
                </td>
            </tr>
            <tr>
                <td>
                    Date of Birth:
                    <input type="date" name="DOB">
                </td>
            </tr>
            <tr>
                <td>
                    Password:
                    <input type="password" name="Password">
                </td>
            </tr>
            <tr>
                <td>
                    Description:
                    <input type="text" name="Description">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="Create" value="Create">
                </td>
            </tr>
        </tbody>
    </table>

</form>
