
@{
    Layout = "_Layout";
    ViewData["Title"] = "Razor";
}

<form asp-action="Count" method="post">
    <label>Enter the number of bottles between 50 and 100:</label>
    <input type="number" name="bottle" min="50" max="100">
    <button type="submit" name="Count" value="Count">Count!</button>
</form>